<app-navbar [uPageName]="userPage"></app-navbar>
<!-- Page Content -->
<div *ngIf="loader" class="Loader">
    <div class="loader"></div>
  </div>
  <div  style="margin-top: 80px; background-image:url('http://127.0.0.1:8000{{BannerDetails?.image}}');" class="page-heading header-text ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>{{BannerDetails?.heading}}</h4>
                    <h2>{{BannerDetails?.description}}</h2>
                </div>
            </div>
        </div>
    </div>
</div> 


<div class="find-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Our Location on Maps</h2>
                </div>
            </div>
            <div class="col-md-8">
                <div id="map">
                    <iframe [src]="mapLocationUrl" width="100%" height="330px" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                  
            </div>
            <div class="col-md-4">
                <div class="left-content">
                    <h4>About our office</h4>
                    <p>{{companyDetails?.description}}</p>
                    <ul class="social-icons">
                        <li><a href="{{companyDetails?.facebookLink}}"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="{{companyDetails?.twiterLink}}"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="{{companyDetails?.linkdinLink}}"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="{{companyDetails?.instagramLink}}"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="send-message">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Send us a Message</h2>
                </div>
            </div>
            <div class="col-md-8">
                <div class="contact-form">
                    <form id="contact" [formGroup]="contactForm" (ngSubmit)="saveMessage()">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input formControlName="name" type="text" class="form-control" id="name"
                                        placeholder="Full Name" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input formControlName="email" type="text" class="form-control" id="email"
                                        placeholder="E-Mail Address" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input formControlName="subject" type="text" class="form-control" id="subject"
                                        placeholder="Subject" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea formControlName="message" rows="6" class="form-control" id="message"
                                        placeholder="Your Message" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit"  class="filled-button mb-4">Send Message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>