<footer class="site-footer" >
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 ">
            <ng-container *ngIf="companyDetails">
              <img src="http://127.0.0.1:8000{{companyDetails.logo}}" height="90%" width="70%">
            </ng-container>
          </div>
          <div class="col-xs-6 col-md-4">
            <h6>Admin Side</h6>
            <ul class="footer-links">
              <li><a routerLink="/admin/home">Home</a></li>
              <li><a routerLink="/admin/paper">Paper</a></li>
              <li><a routerLink="/admin/cover">Contribute</a></li>
              <li><a routerLink="/admin/manufacture">Manufacture</a></li>
              <li><a routerLink="/admin/userc">User Control</a></li>
              <li><a routerLink="/admin/adminc">Admin Control</a></li>
              <li><a routerLink="/admin/sell">Sell</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-md-4">
            <h6>User Side</h6>
            <ul class="footer-links">
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/products">Products</a></li>
              <li><a routerLink="/about">About</a></li>
              <li><a routerLink="/contact">Contact</a></li>
            </ul>
          </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by 
       <a href="tel:9579535583">Tejas Tathe</a>.
          </p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/banty.tathe/"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://github.com/TejasTathe302"><i class="fa-brands fa-github"></i></a></li>
            <li><a class="dribbble" href="https://www.instagram.com/tejas_tathe_302/"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/tejas-tathe-1115b2254/"><i class="fa-brands fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>